<% post = local_assigns[:locals][:post] %>
<% post.comments.includes(:user).each do |comment| %>
    <div class="d-flex flex-row mb-2"> <!-- IMAGE HERE -->
        <div class="d-flex flex-column ml-2"> 
            <span class="name">
                <%= comment.user.name %>
            </span> 
            <small class="comment-text">
                <%= comment.body %>
            </small>
            <%= render "likes/comment_like", locals: { comment: comment, like: @like, post: post } %>
            <div class="d-flex flex-row align-items-center status">
                <small><%= time_ago_in_words(comment.created_at) %> ago</small> 
            </div>
        </div>
    </div>
<% end %>