<div class="comment-input">
        <%= form_with model: comment, url: post_comments_path(post), method: "post", 
                        data: { controller: "form", action: "turbo:submit-end->form#resetForm", form_target: "form" }  do |f| %>
            <div>
                <%= f.text_field :body, class: "form-control"%>
            </div>
            <div>
                <%= f.submit "Comment", class: "btn btn-primary mt-2" %>
            </div>
        <% end %>
</div>