<%= turbo_stream.append "#{@post.id}-comment-pagination" do %>
    <% @comments.includes(:likes, :user).each do |comment| %>
        <%= render partial: "comments/comment", locals: { comment: comment, post: @post, likes: comment.likes } %>
    <% end %>
    <% if @comments.page(@page.to_i + 1).out_of_range? %>
        <span class="hidden" data-pagination-target="lastPage"></span>
    <% end %>
<% end %>