<div class="container" >
    <% @received_requests.each do |item| %>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-3 rounded">



                    <div class="d-flex justify-content-between p-2">
                    
                        <div class="d-flex flex-row align-items-center"> 
                            <%= content_tag(:img, nil, 
                                                src: image_path("profile-pic.jpg"), 
                                                style: "height:2em;width:2em",
                                                class: "rounded-circle me-2") %>
                            <%= item.sender.name %>
                        </div>

                        <div class="d-flex flex-row mt-1" data-controller="requests">
                            <i class="bi bi-check hidden accept-request" data-requests-target="check"></i>
                            <i class="bi bi-x hidden decline-request" data-requests-target="x"></i>
                            <%= button_to "Accept", accept_friend_request_path(current_user.id, item), 
                                            method: :put, remote: true, class: "btn btn-success me-2", data: { action: "click->requests#accept", requests_target: "acceptFriend", disable_with: true} %>
                            <%= button_to "Decline", decline_friend_request_path(current_user.id, item), 
                                            method: :delete, remote: true, class: "btn btn-danger", data: { action: "click->requests#decline", requests_target: "declineFriend", disable_with: true } %>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    <% end %>
</div>