<div>

  <div id="post-display">
    <%= render "post", collection: @posts %>
  </div>

  <div id="post-form">
    <%= form_with model: @post do |f| %>
        <div class="field has-addons">
            <div class="control">
                <%= f.text_field :body, id: 'post-input', class: 'input' %>
            </div>
            <div class="control">
                <%= f.submit 'Send Message', class: 'button is-primary' %>
            </div>
        </div>
    <% end %>
  </div>
  
</div>
